// Owl Carousel
.owl-carousel.owl-modern( data-items='1', data-stage-padding='15', data-margin='30', data-dots='true', data-animation-in='fadeIn', data-animation-out='fadeOut' )
	+quote-lisa({
		img: 'user-16-100x100',
		text: 'I chose Creator because of their knowledge, experience and attention to detail that has proven invaluable to me in creating a superior finished project, which attracts more clients to my shop. I can surely say that their team has a gift for truly interpreting a client’s ideas and transforming them into reality.',
		author: 'Catherine Williams',
		status: 'Local shop owner'
	})
	+quote-lisa({
		img: 'user-17-100x100',
		text: 'This agency was highly recommended to me. The sensitivity, knowledge, vision and ultimate execution this firm brought to the table was tremendous. They have enormously talented designers in the team who consistently deliver the highest quality as well as aesthetically beautiful solutions for their clients.',
		author: 'Rupert Wood',
		status: 'House owner'
	})
	+quote-lisa({
		img: 'user-18-100x100',
		text: 'Your professional guidance gave me results that far exceeded my expectations. My clients thoroughly enjoy the fun, relaxing ambience that the interior design creates. Thank you for helping me bring my ideas to life and transform my own workspace into something new and awesome!',
		author: 'Samantha Brown',
		status: 'Freelancer'
	})