footer.section.footer-minimal.context-dark
	.container
		.footer-minimal-inset.oh
			ul.footer-list-category-2
				li: a( href='#' ) Design & Planting
				li: a( href='#' ) Garden care
				li: a( href='#' ) Irrigation & Drainage
				li: a( href='#' ) Lawn Treatment
				li: a( href='#' ) Snow Clearing
				li: a( href='#' ) Fall Cleanup

		.footer-minimal-bottom-panel.text-sm-left: .row.row-10.align-items-md-center
			.col-sm-6.col-md-4.text-sm-right.text-md-center: div: +widget-list([], '', 'list-inline-sm footer-social-list-2' )
			.col-sm-6.col-md-4.order-sm-first
				+rights-1
			.col-sm-6.col-md-4.text-md-right: p.rights: a( href='privacy-policy.html' ) Privacy Policy