mixin header-corporate(obj)
	- obj = obj || {};

	header.section.page-header
		// RD Navbar
		.rd-navbar-wrap
			nav.rd-navbar.rd-navbar-corporate(
			data-layout=                'rd-navbar-fixed'
			data-sm-layout=             'rd-navbar-fixed'
			data-md-layout=             'rd-navbar-fixed'
			data-md-device-layout=      'rd-navbar-fixed'
			data-lg-layout=             'rd-navbar-static'
			data-lg-device-layout=      'rd-navbar-fixed'
			data-xl-layout=             'rd-navbar-static'
			data-xl-device-layout=      'rd-navbar-static'
			data-xxl-layout=            'rd-navbar-static'
			data-xxl-device-layout=     'rd-navbar-static'
			data-lg-stick-up-offset=    '46px'
			data-xl-stick-up-offset=    '46px'
			data-xxl-stick-up-offset=   '106px'
			data-lg-stick-up=           'true'
			data-xl-stick-up=           'true'
			data-xxl-stick-up=          'true' )
				.rd-navbar-collapse-toggle.rd-navbar-fixed-element-1( data-rd-navbar-toggle='.rd-navbar-collapse'): span
				.rd-navbar-aside-outer: .rd-navbar-aside
					// RD Navbar Panel
					.rd-navbar-panel
						// RD Navbar Toggle
						button.rd-navbar-toggle( data-rd-navbar-toggle='.rd-navbar-nav-wrap' ): span

						// RD Navbar Brand
						.rd-navbar-brand: a.brand( href='../index.html' ): +png( logo.default )

					.rd-navbar-aside-right.rd-navbar-collapse
						ul.rd-navbar-corporate-contacts
							li: .unit.unit-spacing-xs
								.unit-left: span.icon.fa.fa-clock-o
								.unit-body: p 09:00#[span am] — 05:00#[span pm]
							li: .unit.unit-spacing-xs
								.unit-left: span.icon.fa.fa-phone
								.unit-body: a.link-phone( href='tel:#' ) +1 323-913-4688

						if(obj.button)
							a.button.button-md.button-ujarak( href= obj.button.href class= obj.button.class)= obj.button.text
						else
							a.button.button-md.button-default-outline-2.button-ujarak( href='#' ) Get a Free Quote

				.rd-navbar-main-outer: .rd-navbar-main: .rd-navbar-nav-wrap
					+widget-list([], '', 'list-inline-md rd-navbar-corporate-list-social')
					+navigation({ owlItemXxl: '2' })
