header.section.page-header
	// RD Navbar
	.rd-navbar-wrap.rd-navbar-modern-wrap
		nav.rd-navbar.rd-navbar-modern(
		data-layout=                'rd-navbar-fixed'
		data-sm-layout=             'rd-navbar-fixed'
		data-md-layout=             'rd-navbar-fixed'
		data-md-device-layout=      'rd-navbar-fixed'
		data-lg-layout=             'rd-navbar-static'
		data-lg-device-layout=      'rd-navbar-fixed'
		data-xl-layout=             'rd-navbar-static'
		data-xl-device-layout=      'rd-navbar-static'
		data-xxl-layout=            'rd-navbar-static'
		data-xxl-device-layout=     'rd-navbar-static'
		data-lg-stick-up-offset=    '46px'
		data-xl-stick-up-offset=    '46px'
		data-xxl-stick-up-offset=   '70px'
		data-lg-stick-up=           'true'
		data-xl-stick-up=           'true'
		data-xxl-stick-up=          'true'
		data-lg-auto-height=        'false'
		data-xl-auto-height=        'false'
		data-xxl-auto-height=       'false')
			.rd-navbar-main-outer: .rd-navbar-main
				// RD Navbar Panel
				.rd-navbar-panel
					// RD Navbar Toggle
					button.rd-navbar-toggle( data-rd-navbar-toggle='.rd-navbar-nav-wrap' ): span

					// RD Navbar Brand
					.rd-navbar-brand: a.brand( href='../index.html' ): +png( logo.default )

				.rd-navbar-main-element
					.rd-navbar-nav-wrap
						// RD Navbar Basket
						include ../sections/_header-cart
						a( href='cart-page.html' ).rd-navbar-basket.rd-navbar-basket-mobile.fl-bigmug-line-shopping198: span 2
						// RD Navbar Search
						.rd-navbar-search
							button.rd-navbar-search-toggle( data-rd-navbar-toggle='.rd-navbar-search' ): span
							form.rd-search( action='search-results.html', data-search-live='rd-search-results-live', method='GET' )
								.form-wrap
									label.form-label( for='rd-navbar-search-form-input' ) Search...
									input( class='rd-navbar-search-form-input form-input', id='rd-navbar-search-form-input', type='text', name='s', autocomplete="off")
									#rd-search-results-live.rd-search-results-live
									button.rd-search-form-submit.fl-bigmug-line-search74( type='submit' )

						+navigation({ owlItemXxl: '2' })

					.rd-navbar-project-hamburger( data-multitoggle='.rd-navbar-main', data-multitoggle-blur='.rd-navbar-wrap', data-multitoggle-isolate )
						.project-hamburger
							span.project-hamburger-arrow-top
							span.project-hamburger-arrow-center
							span.project-hamburger-arrow-bottom
						.project-hamburger-2
							- for (var i = 0; i < 3 ; i++)
								span.project-hamburger-arrow
						.project-close
							span
							span

				.rd-navbar-project.rd-navbar-modern-project
					.rd-navbar-project-modern-header
						h4.rd-navbar-project-modern-title Follow us
						.rd-navbar-project-hamburger( data-multitoggle='.rd-navbar-main', data-multitoggle-blur='.rd-navbar-wrap', data-multitoggle-isolate )
							.project-close
								span
								span

					.rd-navbar-project-content.rd-navbar-modern-project-content: div
						p.text-spacing-25 Want to get the latest home decor ideas from our designers? Follow us on Gallery to keep up with the newest trends and offers from Deco.
						.row.row-10.gutters-10
							.col-6.col-lg-4
								+thumbnail-mary({
									titleNone: true,
									img: 'gallery-image-14-124x124',
									imgOriginal: 'fullwidth-gallery-7-1200x800-original'
								}).thumbnail-xxs.thumbnail-mary-2
							.col-6.col-lg-4
								+thumbnail-mary({
									titleNone: true,
									img: 'gallery-image-15-124x124',
									imgOriginal: 'fullwidth-masonry-gallery-10-1200x800-original'
								}).thumbnail-xxs.thumbnail-mary-2
							.col-6.col-lg-4
								+thumbnail-mary({
									titleNone: true,
									img: 'gallery-image-16-124x124',
									imgOriginal: 'gallery-image-16-1200x800-original'
								}).thumbnail-xxs.thumbnail-mary-2
							.col-6.col-lg-4
								+thumbnail-mary({
									titleNone: true,
									img: 'gallery-image-17-124x124',
									imgOriginal: 'grid-gallery-11-1200x800-original'
								}).thumbnail-xxs.thumbnail-mary-2
							.col-6.col-lg-4
								+thumbnail-mary({
									titleNone: true,
									img: 'gallery-image-18-124x124',
									imgOriginal: 'fullwidth-gallery-4-1200x800-original'
								}).thumbnail-xxs.thumbnail-mary-2
							.col-6.col-lg-4
								+thumbnail-mary({
									titleNone: true,
									img: 'gallery-image-19-124x124',
									imgOriginal: 'fullwidth-masonry-gallery-6-1200x800-original'
								}).thumbnail-xxs.thumbnail-mary-2

						ul.rd-navbar-modern-contacts
							li: .unit.unit-spacing-sm
								.unit-left: span.icon.fa.fa-phone
								.unit-body: a.link-phone( href='tel:#' ) +1 323-913-4688
							li: .unit.unit-spacing-sm
								.unit-left: span.icon.fa.fa-location-arrow
								.unit-body: a.link-location( href='#' ) 4730 Crystal Springs Dr, Los Angeles, CA 90027
							li: .unit.unit-spacing-sm
								.unit-left: span.icon.fa.fa-envelope
								.unit-body: a.link-email( href='mailto:#' ) mail@demolink.org
						ul.list-inline.rd-navbar-modern-list-social
							li: a( href='#', class='icon fa fa-facebook' )
							li: a( href='#', class='icon fa fa-twitter' )
							li: a( href='#', class='icon fa fa-google-plus' )
							li: a( href='#', class='icon fa fa-instagram' )
							li: a( href='#', class='icon fa fa-pinterest')