// Post Sidebar
.post-sidebar.post-sidebar-inset
	.row.row-lg.row-60
		.col-sm-6.col-lg-12
			.post-sidebar-item
				// RD Search Form
				form.rd-search.form-search.form-post-search( action='search-results.html', method='GET' )
					.form-wrap
						label.form-label( for='search-form' ) Search the blog...
						input#search-form.form-input( type='text', name='s', autocomplete='off' )
						button( type='submit' ).button-search.fl-bigmug-line-search74

			.post-sidebar-item
				h5 Categories
				.post-sidebar-item-inset
					ul.list.list-categories
						li: a( href='#' ).active All Categories
						li: a( href='#' ) Interior Design
						li: a( href='#' ) Landscape Design
						li: a( href='#' ) Furniture
						li: a( href='#' ) Home Decor

			.post-sidebar-item
				h5 Popular posts
				.post-sidebar-item-inset
					+post-minimal({
						img: 'post-8-232x138',
						title: 'How to Make a Huge Impact With Furniture'
					}).post-minimal-1
					+post-minimal({
						img: 'post-9-232x138',
						title: '5 Tips To Add Color To A Neutral Space'
					}).post-minimal-1

		.col-sm-6.col-lg-12
			.post-sidebar-item
				h5 Comments
				.post-sidebar-item-inset
					+quote-minimal({
						text: 'Thank you for this article! It is a real time-saver for me.',
						author: 'Jessica Brown',
						source: 'Top 5 interior design tips'
					})
					+quote-minimal({
						text: 'These color solutions helped me a lot, thank you for sharing!',
						author: 'Adam Williams',
						source: 'What your room lacks'
					})

			.post-sidebar-item
				h5 Popular tags
				.post-sidebar-item-inset
					.group-xs.group-middle.justify-content-start
						+badge({ mod: 'badge-white', text: 'Interior design' })
						+badge({ mod: 'badge-white', text: 'Décor' })
						+badge({ mod: 'badge-white', text: 'Landscape design' })
						+badge({ mod: 'badge-white', text: 'Construction' })
						+badge({ mod: 'badge-white', text: 'Planning' })

			.post-sidebar-item
				h5 Newsletter
				.post-sidebar-item-inset
					// RD Mailform
					form.rd-form.rd-mailform( data-form-output='form-output-global', data-form-type='subscribe', method='post', action='bat/rd-mailform.php' )
						.form-wrap
							input.form-input( id="subscribe-form-4-email", type='email', name='email', data-constraints='@Email @Required' )
							label.form-label( for="subscribe-form-4-email") Enter Your E-mail
						.form-button
							button.button.button-block.button-primary.button-pipaluk( type='submit' ) Subscribe
