//- Pricing list
.row.row-30.justify-content-center
	.col-md-6.col-lg-5.col-xl-4
		.box-pricing
			.box-pricing-body
				.box-pricing-caption
					h5.box-pricing-title Basic
					h3.box-pricing-price $9.00
					.box-pricing-time Per Month
				.divider.divider-35
				ul.box-pricing-list
					li.active Concept development
					li.active Photorealistic 3D visualisation
					li Sketches and elevations
					li Space planning
					li Decorative services
			.box-pricing-button: a.button.button-lg.button-block.button-gray-4( href='#' ) Get started
	.col-md-6.col-lg-5.col-xl-4
		.box-pricing.box-pricing-popular
			.box-pricing-body
				.box-pricing-caption
					h5.box-pricing-title Standard
					h3.box-pricing-price $19.99
					.box-pricing-time Per Month
				.divider.divider-35
				ul.box-pricing-list
					li.active Concept development
					li.active Photorealistic 3D visualisation
					li.active Sketches and elevations
					li.active Space planning
					li Decorative services
			.box-pricing-button: a.button.button-lg.button-block.button-primary( href='#' ) Get started
			.box-pricing-badge popular
	.col-md-6.col-lg-5.col-xl-4
		.box-pricing
			.box-pricing-body
				.box-pricing-caption
					h5.box-pricing-title Premium
					h3.box-pricing-price $30.00
					.box-pricing-time Per Month
				.divider.divider-35
				ul.box-pricing-list
					li.active Concept development
					li.active Photorealistic 3D visualisation
					li.active Sketches and elevations
					li.active Space planning
					li.active Decorative services
			.box-pricing-button: a.button.button-lg.button-block.button-gray-4( href='#' ) Get started