.row.row-30.row-sm
	.col-sm-6.col-md-4.col-xl-3.wow.fadeInDown( data-wow-delay='.3s' ): a.clients-classic( href='#' ): +png('clients-1-270x145')
	.col-sm-6.col-md-4.col-xl-3.wow.fadeInDown( data-wow-delay='.2s' ): a.clients-classic( href='#' ): +png('clients-2-270x145')
	.col-sm-6.col-md-4.col-xl-3.wow.fadeInDown( data-wow-delay='.1s' ): a.clients-classic( href='#' ): +png('clients-3-270x145')
	.col-sm-6.col-md-4.col-xl-3.wow.fadeInDown: a.clients-classic( href='#' ): +png('clients-4-270x145')
	.col-sm-6.col-md-4.col-xl-3.wow.fadeInUp: a.clients-classic( href='#' ): +png('clients-5-270x145')
	.col-sm-6.col-md-4.col-xl-3.wow.fadeInUp( data-wow-delay='.1s' ): a.clients-classic( href='#' ): +png('clients-6-270x145')
	.col-sm-6.col-md-4.col-xl-3.wow.fadeInUp( data-wow-delay='.2s' ): a.clients-classic( href='#' ): +png('clients-7-270x145')
	.col-sm-6.col-md-4.col-xl-3.wow.fadeInUp( data-wow-delay='.3s' ): a.clients-classic( href='#' ): +png('clients-8-270x145')