+parallax({
	img: 'bg-cta-2',
	innerClass: 'section-xl section-inset-custom-2 context-dark bg-overlay-2-14'
})
	.container
		.row.justify-content-md-end: .col-md-7.col-lg-6: .text-width-small
			h3.oh.font-weight-normal: span.d-inline-block.wow.slideInDown( data-wow-delay='0s' ) More ideas for decorating your space
			p.text-spacing-75.wow.fadeInRight( data-wow-delay='.1s' ) Our shop has everything you may think of and even more to inspire you and give you new ideas for decoration of your home and office.
			a.button.button-gray-8.button-ujarak.wow.fadeInUp( href='shop.html', data-wow-delay='.2s' ) Shop now