section.section.section-xl.section-inset-custom-5.section-prefooter
	.container: .row.row-40.row-md-0.justify-content-md-end
		.col-12.position-static
			.google-map-container( data-center='9870 St Vincent Place, Glasgow, DC 45 Fr 45.', data-zoom='5', data-icon="images/gmap_marker-2.png", data-icon-active="images/gmap_marker-2_active.png" data-styles='[{"featureType":"landscape","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#00FF6A"},{"saturation":-1.0989010989011234},{"lightness":11.200000000000017},{"gamma":1}]}]' )
				.google-map
				ul.google-map-markers
					li( data-location='9870 St Vincent Place, Glasgow, DC 45 Fr 45.', data-description='9870 St Vincent Place, Glasgow' )

		.col-md-9.col-lg-8.col-xl-9: .offset-left-xl-70: .row.no-gutters
			.col-sm-6.oh-desktop: .box-footer-2.wow.slideInRight
				h4.box-footer-2-title Have questions? Contact Us
				p.box-footer-2-text We are always ready to help you!
				ul.footer-contacts.d-inline-block.d-md-block
					li: .unit.unit-spacing-xs
						.unit-left: span.icon.fa.fa-phone
						.unit-body: a.link-phone( href='tel:#' ) +1 323-913-4688
					li: .unit.unit-spacing-xs
						.unit-left: span.icon.fa.fa-clock-o
						.unit-body: p Mon-Sat: 07:00AM - 05:00PM
					li: .unit.unit-spacing-xs
						.unit-left: span.icon.fa.fa-location-arrow
						.unit-body: a.link-location( href='#' ) 4730 Crystal Springs Dr, Los Angeles, CA 90027
			.col-sm-6.oh-desktop: .box-footer-form.wow.slideInLeft
				form.rd-form.rd-mailform( data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php' )
					.form-wrap
						input#contact-name-7.form-input( type='text', name='name', data-constraints='@Required' )
						label.form-label( for='contact-name-7' ) Your Name
					.form-wrap
						input#contact-email-7.form-input( type='email', name='email', data-constraints='@Email @Required' )
						label.form-label( for='contact-email-7' ) E-mail
					.form-wrap
						label.form-label( for='contact-message-7' ) Message
						textarea#contact-message-7.form-input( name='message', data-constraints='@Required' )
					button.button.button-block.button-gray-11.button-pipaluk( type='submit' ) Send Message