//- Grid blog
.col-sm-6.col-lg-4.wow.fadeInLeft
	+post-modern({
		img: 'post-10-370x307',
		time: { datetime: '2019-07-04', dateNumber: '04', dateMonth: 'July' },
		title: 'Designing a Children’s room',
		text: 'Kids’ bedrooms aren’t usually noted for their sophisticated style. But it’s not a bad idea to design a room that your kid can grow into...'
	})

.col-sm-6.col-lg-4.wow.fadeInLeft( data-wow-delay='.1s' )
	+post-modern({
		img: 'post-11-370x307',
		time: { datetime: '2019-07-17', dateNumber: '17', dateMonth: 'July' },
		title: 'Home decor trends',
		text: 'Trends are hard to keep up with. Ever-changing, contradictory, and sometimes seemingly senseless, no one can stay perfectly up to...'
	})

.col-sm-6.col-lg-4.wow.fadeInLeft( data-wow-delay='.2s' )
	+post-modern({
		img: 'post-12-370x307',
		time: { datetime: '2019-07-22', dateNumber: '22', dateMonth: 'July' },
		title: 'Bedroom space management',
		text: 'Any sleep enthusiast would agree that the bedroom is pretty high up on the list of most important rooms in the house. There’s even...'
	})