+parallax({
	img: 'bg-cta-3',
	innerClass: 'section-xl section-inset-custom-1 context-dark bg-overlay-2-21'
})
	.container
		h3.oh.font-weight-normal: span.d-inline-block.wow.slideInDown( data-wow-delay='0s' )  Ready for a new experience?
		p.oh.text-width-medium: span.d-inline-block.wow.slideInUp( data-wow-delay='.2s' ) Take a step forward to a better interior and transform your space with the furniture and accessories, which you can find at our shop.
		a.button.button-gray-8.button-ujarak.wow.fadeInUp( href='shop.html', data-wow-delay='.1s' ) Shop now