.row.row-30.row-isotope.isotope( data-lightgallery='group' )
	.col-sm-6.col-md-4.col-xl-3.isotope-item( data-filter='Type 3' )
		+thumbnail-mary({
			img: 'fullwidth-masonry-gallery-1-420x330',
			imgOriginal: 'fullwidth-masonry-gallery-1-1200x800-original',
			title: '379 Harvey Rd'
		}).thumbnail-md
	.col-sm-6.col-md-4.col-xl-3.isotope-item( data-filter='Type 2' )
		+thumbnail-mary({
			img: 'fullwidth-masonry-gallery-2-420x330',
			imgOriginal: 'grid-gallery-3-1200x800-original',
			title: '64 James Ave'
		}).thumbnail-md
	.col-sm-6.col-md-4.col-xl-3.isotope-item( data-filter='Type 1' )
		+thumbnail-mary({
			img: 'fullwidth-masonry-gallery-3-420x690',
			imgOriginal: 'fullwidth-masonry-gallery-3-1200x800-original',
			title: '861 E. Oklahoma Dr'
		}).thumbnail-md
	.col-sm-6.col-md-8.col-xl-6.isotope-item( data-filter='Type 2' )
		+thumbnail-mary({
			img: 'fullwidth-masonry-gallery-5-870x330',
			imgOriginal: 'fullwidth-masonry-gallery-5-1200x800-original',
			title: '14 Pulaski Str'
		}).thumbnail-xl.thumbnail-custom-mobile-1
	.col-sm-6.col-md-4.col-xl-3.isotope-item( data-filter='Type 3' )
		+thumbnail-mary({
			img: 'fullwidth-masonry-gallery-4-420x330',
			imgOriginal: 'grid-gallery-4-1200x800-original',
			title: '8381 Peg Shop Str'
		}).thumbnail-md
	.col-sm-6.col-md-4.col-xl-3.isotope-item( data-filter='Type 1' )
		+thumbnail-mary({
			img: 'fullwidth-masonry-gallery-6-420x330',
			imgOriginal: 'fullwidth-masonry-gallery-6-1200x800-original',
			title: '830 Bridge Str'
		}).thumbnail-md