// Swiper
section.section.swiper-container.swiper-slider.swiper-slider-corporate.swiper-pagination-style-2( data-loop='true', data-autoplay='5000', data-simulate-touch='true', data-nav='false', data-direction='vertical' )
	.swiper-wrapper.text-center
		.swiper-slide.context-dark( data-slide-bg='images/slider-4-slide-1-1920x678.jpg' )
			.swiper-slide-caption.section-md
				.container: .row.justify-content-center: .col-md-10
					h6( data-caption-animate='fadeInRight', data-caption-delay='0' ) 100% comfort Guaranteed
					h2.oh.font-weight-light: span.d-inline-block( data-caption-animate='slideInUp', data-caption-delay='100' ) Hardwood flooring
					a.button.button-secondary.button-ujarak( href='#', data-caption-animate='fadeInLeft', data-caption-delay='0' ) Get in touch
		.swiper-slide.context-dark( data-slide-bg='images/slider-4-slide-2-1920x678.jpg' )
			.swiper-slide-caption.section-md
				.container: .row.justify-content-center: .col-md-10
					h6( data-caption-animate='fadeInRight', data-caption-delay='400' ) Flooring istallation & repairs
					h2.oh.font-weight-light: span.d-inline-block( data-caption-animate='slideInDown', data-caption-delay='0' ) Tile flooring
					.oh.button-wrap: a.button.button-secondary.button-ujarak( href='#', data-caption-animate='slideInUp', data-caption-delay='0' ) Get in touch
		.swiper-slide.context-dark( data-slide-bg='images/slider-4-slide-3-1920x678.jpg' )
			.swiper-slide-caption.section-md
				.container: .row.justify-content-center: .col-md-10
					h6( data-caption-animate='fadeInDown', data-caption-delay='0' ) Reliable flooring solutions
					h2.font-weight-light( data-caption-animate='fadeInLeft', data-caption-delay='200' ) Laminate flooring
					.oh.button-wrap: a.button.button-secondary.button-ujarak( href='#', data-caption-animate='slideInUp', data-caption-delay='0' ) Get in touch

	// Swiper Pagination
	.swiper-pagination