// Swiper
section.section.swiper-container.swiper-slider.swiper-slider-modern( data-loop='true', data-autoplay='5000', data-simulate-touch='true', data-nav='true', data-slide-effect='fade' )
	.swiper-wrapper.text-left
		.swiper-slide( data-slide-bg='images/slider-2-slide-1-1920x850.jpg' )
			.swiper-slide-caption
				.container: .row: .col-xxl-4: .slider-modern-box
					h2.oh.slider-modern-title
						span( data-caption-animate='slideInDown', data-caption-delay='0' ) All for your
						span( data-caption-animate='slideInUp', data-caption-delay='0' ) sweet home
					p( data-caption-animate='fadeInRight', data-caption-delay='400' ) Creator has everything to cover your home decor needs.
					.oh.button-wrap: a.button.button-default-outline-2.button-ujarak( href='shop.html', data-caption-animate='slideInLeft', data-caption-delay='400' ) Shop now
		.swiper-slide( data-slide-bg='images/slider-2-slide-2-1920x850.jpg' )
			.swiper-slide-caption
				.container: .row: .col-xxl-4: .slider-modern-box
					h2.oh.slider-modern-title
						span( data-caption-animate='slideInLeft', data-caption-delay='0' ) Home decor
						span( data-caption-animate='slideInUp', data-caption-delay='0' ) collections
					p( data-caption-animate='fadeInRight', data-caption-delay='400' ) Feel free to browse our shop and choose what you like for your home.
					.oh.button-wrap: a.button.button-default-outline-2.button-ujarak( href='shop.html', data-caption-animate='slideInLeft', data-caption-delay='400' ) Shop now
		.swiper-slide( data-slide-bg='images/slider-2-slide-3-1920x850.jpg' )
			.swiper-slide-caption
				.container: .row: .col-xxl-4: .slider-modern-box
					h2.oh.slider-modern-title
						span( data-caption-animate='slideInDown', data-caption-delay='0' ) Unique and
						span( data-caption-animate='slideInLeft', data-caption-delay='0' ) affordable
					p( data-caption-animate='fadeInRight', data-caption-delay='400' ) We offer our clients a unique variety of affordable home decor solutions.
					.oh.button-wrap: a.button.button-default-outline-2.button-ujarak( href='shop.html', data-caption-animate='slideInUp', data-caption-delay='400' ) Shop now

	// Swiper Navigation
	.swiper-button-prev
	.swiper-button-next
	// Swiper Pagination
	.swiper-pagination.swiper-pagination-style-2