// Swiper
section.section.swiper-container.swiper-slider.swiper-slider-creative( data-loop='true', data-autoplay='5000', data-simulate-touch='true', data-nav='false', data-slide-effect='fade' )
	.swiper-wrapper.text-left
		.swiper-slide.context-dark( data-slide-bg='images/slider-3-slide-1-1920x661.jpg' )
			.swiper-slide-caption.section-md
				.container: .row.justify-content-end: .col-sm-6.col-md-6.col-xl-5
					h1.oh: span.d-inline-block( data-caption-animate='slideInDown', data-caption-delay='400' ) High-quality
					h4( data-caption-animate='fadeInRight', data-caption-delay='100' ) Office & home furniture for you
					.oh.swiper-creative-decor: hr( data-caption-animate='slideInLeft', data-caption-delay='0' )
					p.text-style-1( data-caption-animate='fadeInRight', data-caption-delay='200' )
						span.icon.fa.fa-check-circle
						| Everything you need for the greatest comfort.
					.oh.button-wrap: a.button.button-primary.button-ujarak( href='shop.html', data-caption-animate='slideInUp', data-caption-delay='400' ) Shop now
		.swiper-slide.swiper-slide-2.context-dark( data-slide-bg='images/slider-3-slide-2-1920x661.jpg' )
			.swiper-slide-caption.section-md
				.container: .row.justify-content-end: .col-sm-6.col-md-6.col-xl-5
					h1.oh: span.d-inline-block( data-caption-animate='slideInDown', data-caption-delay='0' ) Reliable
					h4( data-caption-animate='fadeInRight', data-caption-delay='400' ) Furniture for all your needs
					.oh.swiper-creative-decor: hr( data-caption-animate='slideInLeft', data-caption-delay='0' )
					p.text-style-1( data-caption-animate='fadeInRight', data-caption-delay='500' )
						span.icon.fa.fa-check-circle
						| A variety of furniture for your home & office
					.oh.button-wrap: a.button.button-primary.button-ujarak( href='shop.html', data-caption-animate='slideInUp', data-caption-delay='0' ) Shop now
		.swiper-slide.swiper-slide-3.context-dark( data-slide-bg='images/slider-3-slide-3-1920x661.jpg' )
			.swiper-slide-caption.section-md
				.container: .row.justify-content-end: .col-sm-6.col-md-6.col-xl-5
					h1.oh: span.d-inline-block( data-caption-animate='slideInLeft', data-caption-delay='0' ) Affordable
					h4( data-caption-animate='fadeInRight', data-caption-delay='100' ) Furniture design solutions
					.oh.swiper-creative-decor: hr( data-caption-animate='slideInLeft', data-caption-delay='0' )
					p.text-style-1( data-caption-animate='fadeInRight', data-caption-delay='200' )
						span.icon.fa.fa-check-circle
						| No need to overpay for what you really like.
					.oh.button-wrap: a.button.button-primary.button-ujarak( href='shop.html', data-caption-animate='slideInUp', data-caption-delay='400' ) Shop now

	// Swiper Pagination
	.swiper-pagination( data-bullet-custom='true' )