// Swiper
section.section.swiper-container.swiper-slider.swiper-slider-tara( data-loop='true', data-autoplay='5000', data-simulate-touch='true', data-nav='false', data-slide-effect='fade' )
	.swiper-wrapper.text-center.text-sm-left
		.swiper-slide( data-slide-bg='images/slider-7-slide-1-1920x679.jpg' )
			.swiper-slide-caption.section-md
				.container: .row.justify-content-end: .col-sm-5.col-xxl-4
					h6.swiper-subtitle( data-caption-animate='fadeInRight', data-caption-delay='300' ) Installing windows since 1999
					h2.oh.swiper-title
						span.d-block( data-caption-animate='slideInLeft', data-caption-delay='0' ) Experience in
						span.d-block( data-caption-animate='slideInLeft', data-caption-delay='150' ) everything
					a.button.button-secondary.button-ujarak( href='#', data-caption-animate='fadeInRight', data-caption-delay='300' ) Get in touch
		.swiper-slide( data-slide-bg='images/slider-7-slide-2-1920x679.jpg' )
			.swiper-slide-caption.section-md
				.container: .row.justify-content-end: .col-sm-5.col-xxl-4
					h6.swiper-subtitle( data-caption-animate='fadeInRight', data-caption-delay='300' ) Quality doors and windows for you
					h2.oh.swiper-title
						span.d-block( data-caption-animate='slideInDown', data-caption-delay='0' ) Keeping you
						span.d-block( data-caption-animate='slideInUp', data-caption-delay='0' ) warm
					.oh.button-wrap: a.button.button-secondary.button-ujarak( href='#', data-caption-animate='slideInLeft', data-caption-delay='300' ) Get in touch
		.swiper-slide( data-slide-bg='images/slider-7-slide-3-1920x679.jpg' )
			.swiper-slide-caption.section-md
				.container: .row.justify-content-end: .col-sm-5.col-xxl-4
					h6.oh.swiper-subtitle: span.d-inline-block( data-caption-animate='slideInDown', data-caption-delay='300' ) Professional window solutions
					h2.swiper-title
						span.d-block( data-caption-animate='fadeInRight', data-caption-delay='0' ) Cozy in any
						span.d-block( data-caption-animate='fadeInRight', data-caption-delay='150' ) weather
					.oh.button-wrap: a.button.button-secondary.button-ujarak( href='#', data-caption-animate='slideInUp', data-caption-delay='300' ) Get in touch

	// Swiper Pagination
	.swiper-pagination