// Swiper
section.section.swiper-container.swiper-slider.swiper-slider-classic( data-loop='true', data-autoplay='5000', data-simulate-touch='true', data-direction='vertical', data-nav='false')
	.swiper-wrapper.text-center
		.swiper-slide.context-dark( data-slide-bg='images/slider-1-slide-1-1770x742.jpg' )
			.swiper-slide-caption.section-md
				.container
					h1( data-caption-animate='fadeInLeft', data-caption-delay='0' ) Innovative and affordable
					p.text-width-large( data-caption-animate='fadeInRight', data-caption-delay='100' ) Our team uses innovations combined with customized interior planning to deliver the best interior design for your home or office while saving costs.
					a.button.button-primary.button-ujarak( href='#', data-caption-animate='fadeInUp', data-caption-delay='200' ) Get in touch
		.swiper-slide.context-dark( data-slide-bg='images/slider-1-slide-2-1770x742.jpg' )
			.swiper-slide-caption.section-md
				.container
					h1( data-caption-animate='fadeInLeft', data-caption-delay='0' ) Committed and professional
					p.text-width-large( data-caption-animate='fadeInRight', data-caption-delay='100' ) All our designers and architects are completely committed to the end result, while being fully professional in all aspects of interior planning and design.
					a.button.button-primary.button-ujarak( href='#', data-caption-animate='fadeInUp', data-caption-delay='200' ) Get in touch
		.swiper-slide.context-dark( data-slide-bg='images/slider-1-slide-3-1770x742.jpg' )
			.swiper-slide-caption.section-md
				.container
					h1( data-caption-animate='fadeInLeft', data-caption-delay='0' ) Harmonious and cozy
					p.text-width-large( data-caption-animate='fadeInRight', data-caption-delay='100' ) We develop individual room concepts for private and commercial use. Our team focuses on the interior design of private living rooms, hotels, offices, and more.
					a.button.button-primary.button-ujarak( href='#', data-caption-animate='fadeInUp', data-caption-delay='200' ) Get in touch

	// Swiper Pagination
	.swiper-pagination__module
		.swiper-pagination__fraction
			span.swiper-pagination__fraction-index 00
			span.swiper-pagination__fraction-divider /
			span.swiper-pagination__fraction-count 00
		.swiper-pagination__divider
		.swiper-pagination