// Swiper
section.section.swiper-container.swiper-slider.swiper-slider-creative( data-loop='true', data-autoplay='5000', data-simulate-touch='true', data-nav='false', data-slide-effect='fade' )
	.swiper-wrapper.text-center
		.swiper-slide.context-dark( data-slide-bg='images/slider-6-slide-1-1920x661.jpg' )
			.swiper-slide-caption.section-md: .container
				h2.oh: span.d-inline-block( data-caption-animate='slideInDown', data-caption-delay='200' ) Quality LandScape Design
				p.swiper-slider-text.text-width-extra-large( data-caption-animate='fadeInRight', data-caption-delay='0' ) We provide professional landscape design, lawn treatment, garden care & maintenance, lighting and irrigation services for residential and commercial properties.
				.oh.button-wrap: a.button.button-gradient.button-primary-gradient( href='#', data-caption-animate='slideInUp', data-caption-delay='200' ) Get in touch
		.swiper-slide.context-dark( data-slide-bg='images/slider-6-slide-2-1920x661.jpg' )
			.swiper-slide-caption.section-md: .container
				h2.oh: span.d-inline-block( data-caption-animate='slideInUp', data-caption-delay='0' ) Professional landscaping services
				p.swiper-slider-text.text-width-extra-large( data-caption-animate='fadeInLeft', data-caption-delay='200' ) Our gardening and landscape design experts are ready to offer you their help and assistance in creating the landscape of your dream.
				.oh.button-wrap: a.button.button-gradient.button-primary-gradient( href='#', data-caption-animate='slideInDown', data-caption-delay='0' ) Get in touch
		.swiper-slide.context-dark( data-slide-bg='images/slider-6-slide-3-1920x661.jpg' )
			.swiper-slide-caption.section-md: .container
				h2.oh: span.d-inline-block( data-caption-animate='slideInDown', data-caption-delay='0' ) Award-winning gardening ideas
				p.swiper-slider-text.text-width-extra-large( data-caption-animate='fadeInLeft', data-caption-delay='200' ) With over 20 awards, Creator earned the reputation of premier landscape design and maintenance company. We aim to create landscapes and gardens you like.
				.oh.button-wrap: a.button.button-gradient.button-primary-gradient( href='#', data-caption-animate='slideInUp', data-caption-delay='400' ) Get in touch

	// Swiper Pagination
	.swiper-pagination( data-bullet-custom='true' )