/*
*
* Boxes
*/

// 
// Table of Contents:
//
// Box Minimal
// Box Counter
// Box Icon Modern
//

//
// Box Minimal
//
.box-minimal {
	text-align: center;

	.box-minimal-icon {
		font-size: 50px;
		line-height: 50px;
		color: $primary;
	}
}

.box-minimal-divider {
	width: 36px;
	height: 4px;
	margin-left: auto;
	margin-right: auto;
	background: $primary;
}

.box-minimal-text {
	width: 100%;
	max-width: 320px;
	margin-left: auto;
	margin-right: auto;
}

* + .box-minimal {
	margin-top: 30px;
}

* + .box-minimal-title {
	margin-top: 10px;
}

* + .box-minimal-divider {
	margin-top: 20px;
}

* + .box-minimal-text {
	margin-top: 15px;
}

// Context styling
%context-dark {
	.box-minimal {
		p {
			color: $body-color;
		}
	}
}

//
// Box Counter
//
.box-counter {
	position: relative;
	text-align: center;
	color: $gray-700;
}

.box-counter-title {
	display: inline-block;
	font-family: $font-family-sec;
	font-size: 16px;
	line-height: 1.3;
	letter-spacing: -.025em;
}

.box-counter-main {
	font-family: $font-family-sec;
	font-size: 45px;
	font-weight: 400;
	line-height: 1.2;

	> * {
		display: inline;
		font: inherit;
	}

	.small {
		font-size: 28px;
	}

	.small_top {
		position: relative;
		top: .2em;
		vertical-align: top;
	}
}

.box-counter-divider {
	font-size: 0;
	line-height: 0;
	&::after {
		content: '';
		display: inline-block;
		width: 80px;
		height: 2px;
		background: $primary;
	}
}

* + .box-counter-title {
	margin-top: 10px;
}

* + .box-counter-main {
	margin-top: 20px;
}

* + .box-counter-divider {
	margin-top: 10px;
}

@include media-breakpoint-up(md) {
	.box-counter-title {
		font-size: 18px;
	}
}

@include media-breakpoint-up(xl) {
	.box-counter-main {
		font-size: 60px;

		.small {
			font-size: 36px;
		}
	}

	* + .box-counter-main {
		margin-top: 30px;
	}
	* + .box-counter-divider {
		margin-top: 15px;
	}
	* + .box-counter-title {
		margin-top: 18px;
	}
}

// Context styling
.bg-primary {
	.box-counter {
		color: $white-invariable;
	}

	.box-counter-divider {
		&::after {
			background: $white-invariable;
		}
	}
}




//
// Box Icon Modern
//
.box-icon-modern {
	text-align: center;
	min-height: 100%;
	max-width: 370px;
	margin-left: auto;
	margin-right: auto;
	padding: 44px 15px 30px;
	background: $white;
	box-shadow: 0 0 13px -4px rgba($black, 0.17);
	transition: all .3s ease;
}

.box-icon-modern-yellow {
	.box-icon-modern-icon::after{
		border-bottom-color: $yellow;
	}
	.box-icon-modern-title a:hover {
		color: $yellow;
	}
	.box-icon-modern-decor::after {
		background: $yellow;
	}
}
.box-icon-modern-pink {
	.box-icon-modern-icon::after{
		border-bottom-color: $pink;
	}
	.box-icon-modern-title a:hover {
		color: $pink;
	}
	.box-icon-modern-decor::after {
		background:$pink ;
	}
}
.box-icon-modern-blue {
	.box-icon-modern-icon::after{
		border-bottom-color: $blue;
	}
	.box-icon-modern-title a:hover {
		color: $blue;
	}
	.box-icon-modern-decor::after {
		background:$blue ;
	}
}
.box-icon-modern-orange {
	.box-icon-modern-icon::after{
		border-bottom-color: $orange;
	}
	.box-icon-modern-title a:hover {
		color: $orange;
	}
	.box-icon-modern-decor::after {
		background: $orange;
	}
}
.box-icon-modern-blue-sky {
	.box-icon-modern-icon::after{
		border-bottom-color: $blue-sky;
	}
	.box-icon-modern-title a:hover {
		color: $blue-sky;
	}
	.box-icon-modern-decor::after {
		background: $blue-sky;
	}
}
.box-icon-modern-lemon-chiffon {
	.box-icon-modern-icon::after{
		border-bottom-color: $lemon-chiffon;
	}
	.box-icon-modern-title a:hover {
		color: $lemon-chiffon;
	}
	.box-icon-modern-decor::after {
		background: $lemon-chiffon;
	}
}
.box-icon-modern-blue-light {
	.box-icon-modern-icon::after{
		border-bottom-color: $blue-light;
	}
	.box-icon-modern-title a:hover {
		color: $blue-light;
	}
	.box-icon-modern-decor::after {
		background: $blue-light;
	}
}

.box-icon-modern-custom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	padding-top: 36px;
	padding-bottom: 38px;
}

.box-icon-modern-icon {
	position: relative;
	font-size: 47px;
	line-height: 1;
	color: inherit;
	z-index: 1;

	&::after {
		position: absolute;
		content: '';
		left: 50%;
		bottom: 9px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 34.5px 60px 34.5px;
		border-color: transparent transparent $primary transparent;
		transform: translate3d(-50%, 0, 0) rotate(15deg);
		transform-origin: 50% 80%;
		transition: all .3s ease;
		z-index: -1;
	}
}

.box-icon-modern-title {

	a { @include link(inherit, $primary); }
}

.box-icon-modern-big-title {
	line-height: 1.04;
}

.box-icon-modern-decor {
	position: relative;
	max-width: 126px;
	width: 100px;
	height: 2px;
	margin: 18px auto 16px;

	&::before {
		position: absolute;
		content: '';
		height: 100%;
		left: 15px;
		right: 15px;
		background: $gray-200;
		transition: all .3s ease;
	}

	&::after {
		position: absolute;
		content: '';
		height: 100%;
		left: 50%;
		right: 50%;
		background: $primary;
		transition: all .3s ease;
	}
}

.box-icon-modern-text {
	max-width: 320px;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	line-height: 1.72;
}

* + .box-icon-modern-title { margin-top: 18px; }
.box-icon-modern-decor + .button { margin-top: 8px; }
.box-icon-modern-decor + .box-icon-modern-text { margin-top: 0; }

.box-icon-modern:hover {

	box-shadow: 0 0 10px 0 rgba($black, 0.17);

	.box-icon-modern-icon:after { transform: translate3d(-50%, 0, 0) rotate(-17deg); }

	.box-icon-modern-title { letter-spacing: .1em; }

	.box-icon-modern-decor {

		&::before {
			left: 50%;
			right: 50%;
			transition-duration: .2s;
		}

		&::after {
			left: 0;
			right: 0;
		}
	}
}

.ie-edge,
.ie-10,
.ie-11 {

	.box-icon-modern-custom {
		height: 100%;
	}
}