//
// Accent Colors
//

$primary: #53d391;
$secondary: #f76969;

$yellow:         #fff661;
$pink:           #e6c4de;
$blue:           #b7dafe;
$orange:         #f8e0bd;
$blue-sky:       #9be8e5;
$lemon-chiffon:  #e1ebe7;
$blue-light:     #ceeaf1;

$blue-dark:      #2b5686;