extends  ../_skeleton

//- Includes
include ../components/_ui-posts
include ../components/_ui-pagination
include ../components/_ui-quote

block variables
	- var activeCategory = 'blog'
	- var pageName = 'Classic blog'

block page 
	// Page Header
	+header-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		mod: 'bg-overlay-39',
		bgImage: 'bg-blog'
	})

	// Classic blog
	section.section.section-xl.bg-default.text-md-left
		.container
			.row.row-70
				.col-lg-8
					+post-classic({
						title: 'Home Décor trends 2017: Popular or not?',
						badge: { mod: 'badge-secondary', text: 'Interior design' },
						time: { datetime: '2019-11-30', dateText: 'Nov 30, 2019' },
						img: 'post-1-770x430'
					})

					+post-classic({
						title: 'How to create a first-class lawn',
						badge: { mod: 'badge-primary', text: 'Landscape design' },
						time: { datetime: '2019-11-30', dateText: 'Nov 30, 2019' },
						owl: [
							{ img: 'post-2-770x430' },
							{ img: 'post-3-770x430' },
							{ img: 'post-4-770x430' }
						]
					})

					+post-classic({
						title: 'How color can transform your house',
						badge: { mod: 'badge-secondary', text: 'Interior design' },
						time: { datetime: '2019-11-30', dateText: 'Nov 30, 2019' },
						video: 'https://player.vimeo.com/video/71330910'
					})

					+post-classic({
						title: 'The 5 Secrets to Pulling Off Simple, Minimal Design',
						badge: { mod: 'badge-secondary', text: 'Interior design' },
						time: { datetime: '2019-11-30', dateText: 'Nov 30, 2019' },
						gallery: {
							img: 'post-5-470x430',
							img2: 'post-6-270x204',
							img3: 'post-7-270x204'
							}
					})

					.pagination-wrap
						+pagination-bootstrap(null, 1, 4)

				.col-lg-4
					include ../sections/_post-sidebar


	// Page Footer
	+footer-classic