extends  ../_skeleton

//- Includes
include ../components/_ui-box-icon

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Contacts Us 2'

block page 
	// Page Header
	+header-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		mod: 'bg-overlay-24',
		bgImage: 'bg-contact-us'
	})

	// Contact information
	section.section.section-sm.section-first.bg-default
		include ../sections/_contact-information


	// Contact Form and Gmap
	section.section.section-sm.section-last.bg-default.text-md-left
		.container
			.row.row-50
				.col-lg-6.section-map-small
					include ../sections/_section-gmap
				.col-lg-6
					h4.text-spacing-50 Contact Form
					include ../sections/_contact-form


	// Page Footer
	+footer-classic
