extends  ../_skeleton

//- Includes
include ../components/_ui-posts
include ../components/_ui-pagination

block variables
	- var activeCategory = 'blog'
	- var pageName = 'Grid blog 2'

block page 
	// Page Header
	+header-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		mod: 'bg-overlay-39',
		bgImage: 'bg-blog'
	})

	// Grid blog
	section.section.section-xl.bg-default.text-md-left
		.container
			.row.row-50.justify-content-center
				.col-sm-9.col-md-6.col-lg-5.col-xl-4
					+post-creative({
						imgUser: 'user-4-49x49',
						author: 'Mary Lee',
						time: { datetime: '2019-05-17', dateText: 'May 17, 2019' },
						img: 'post-16-370x267',
						title: 'The Unexpected Color We’re Loving This Fall'
					})

				.col-sm-9.col-md-6.col-lg-5.col-xl-4
					+post-creative({
						imgUser: 'user-5-49x49',
						author: 'Samuel Miller',
						time: { datetime: '2019-05-04', dateText: 'May 04, 2019' },
						img: 'post-17-370x267',
						title: 'Popular Décor Trends you surely need to know about'
					})

				.col-sm-9.col-md-6.col-lg-5.col-xl-4
					+post-creative({
						imgUser: 'user-6-49x49',
						author: 'Ann Anderson',
						time: { datetime: '2019-05-17', dateText: 'May 17, 2019' },
						img: 'post-18-370x267',
						title: 'Here are the most stylish colors for next spring, according to pantone'
					})

				.col-sm-9.col-md-6.col-lg-5.col-xl-4
					+post-creative({
						imgUser: 'user-6-49x49',
						author: 'Ann Anderson',
						time: { datetime: '2019-05-17', dateText: 'May 17, 2019' },
						img: 'post-19-370x267',
						title: 'Affordable office furniture that looks expensive'
					})

				.col-sm-9.col-md-6.col-lg-5.col-xl-4
					+post-creative({
						imgUser: 'user-4-49x49',
						author: 'Mary Lee',
						time: { datetime: '2019-05-17', dateText: 'May 17, 2019' },
						img: 'post-20-370x267',
						title: 'Tips from creator: choosing a right size rug for your apartment'
					})

				.col-sm-9.col-md-6.col-lg-5.col-xl-4
					+post-creative({
						imgUser: 'user-5-49x49',
						author: 'Samuel Miller',
						time: { datetime: '2019-05-04', dateText: 'May 04, 2019' },
						img: 'post-21-370x267',
						title: 'The accent color has the power to transform any room in your house'
					})

			.pagination-wrap
				+pagination-bootstrap(null, 1, 4)


	// Page Footer
	+footer-classic