extends  ../_skeleton

//- Includes
include ../components/_ui-box-team

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Our Team'

block page 
	// Page Header
	+header-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		mod: 'bg-overlay-46',
		bgImage: 'bg-elements-3'
	})

	// Team #1
	section.section.section-sm.section-first.bg-default
		.container
			h3 #1
			.row.row-sm.row-30
				.col-md-6.col-lg-5.col-xl-4
					+team-classic({
						img: 'team-1-370x406',
						name: 'Ryan Wilson',
						status: 'Founder, Senior Designer'
					})
				.col-md-6.col-lg-5.col-xl-4
					+team-classic({
						img: 'team-2-370x406',
						name: 'Jill Peterson',
						status: 'Architect'
					})
				.col-md-6.col-lg-5.col-xl-4
					+team-classic({
						img: 'team-3-370x406',
						name: 'Sam Robinson',
						status: 'Senior Architect'
					})


	// Team #2
	section.section.section-sm.bg-default
		.container
			h3 #2
			.row.row-xs.row-40.justify-content-center.justify-content-lg-start
				.col-sm-6.col-md-5.col-lg-3
					+team-modern({
						img: 'user-7-118x118',
						name: 'Sam Robinson',
						status: 'Senior Architect'
					})
				.col-sm-6.col-md-5.col-lg-3
					+team-modern({
						img: 'user-8-118x118',
						name: 'Sam Claflin',
						status: 'Flooring Installer'
					})
				.col-sm-6.col-md-5.col-lg-3
					+team-modern({
						img: 'user-9-118x118',
						name: 'Jill Peterson',
						status: 'Architect'
					})
				.col-sm-6.col-md-5.col-lg-3
					+team-modern({
						img: 'user-10-118x118',
						name: 'James Smith',
						status: 'Window Installer'
					})


	// Team #3
	section.section.section-sm.bg-default
		.container
			h3 #3
			.row.row-sm.row-30
				.col-md-6.col-lg-5.col-xl-4
					+team-creative({
						img: 'team-4-370x366',
						name: 'Jill Peterson',
						status: 'Architect'
					})
				.col-md-6.col-lg-5.col-xl-4
					+team-creative({
						img: 'team-5-370x366',
						name: 'Will O’brien',
						status: 'Designer'
					})
				.col-md-6.col-lg-5.col-xl-4
					+team-creative({
						img: 'team-6-370x366',
						name: 'Ann Anderson',
						status: 'Junior Designer'
					})


	// Team #4
	section.section.section-sm.section-last.bg-default
		.container
			h3 #4
			.row.row-30.justify-content-center.justify-content-lg-start
				.col-sm-6.col-md-5.col-lg-4.col-xl-3
					+team-nikki({
						img: 'team-7-270x248',
						name: 'Ann Anderson',
						status: 'Junior Designer'
					})
				.col-sm-6.col-md-5.col-lg-4.col-xl-3
					+team-nikki({
						img: 'team-8-270x248',
						name: 'Sam Robinson',
						status: 'Senior Architect'
					})
				.col-sm-6.col-md-5.col-lg-4.col-xl-3
					+team-nikki({
						img: 'team-9-270x248',
						name: 'Mary Lee',
						status: 'Decorator'
					})
				.col-sm-6.col-md-5.col-lg-4.col-xl-3
					+team-nikki({
						img: 'team-10-270x248',
						name: 'Samuel Miller',
						status: 'Interior Designer'
					})


	// Page Footer
	+footer-classic