extends  ../_skeleton

block variables
	- var activeCategory = 'gallery'
	- var pageName = 'Single project 2'

block page 
	// Page Header
	+header-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		mod: 'bg-overlay-46',
		bgImage: 'bg-single-project'
	})

	// Single Project
	section.section.section-sm.section-first.bg-default
		.container
			.row.row-30( data-lightgallery='group' )
				.col-sm-6.col-lg-4: .oh-desktop
					+thumbnail-joan({
						img: 'project-13-370x315',
						imgOriginal: 'fullwidth-gallery-1-1200x800-original',
						number: '1'
					}).thumbnail-sm.wow.slideInLeft( data-wow-delay='0s' )
				.col-sm-6.col-lg-4: .oh-desktop
					+thumbnail-joan({
						img: 'project-14-370x315',
						imgOriginal: 'fullwidth-masonry-gallery-7-1200x800-original',
						number: '2'
					}).thumbnail-sm.wow.slideInUp( data-wow-delay='.1s' )
				.col-sm-6.col-lg-4: .oh-desktop
					+thumbnail-joan({
						img: 'project-15-370x315',
						imgOriginal: 'fullwidth-gallery-7-1200x800-original',
						number: '3'
					}).thumbnail-sm.wow.slideInRight( data-wow-delay='.0s' )
				.col-sm-6.col-lg-4: .oh-desktop
					+thumbnail-joan({
						img: 'project-16-370x315',
						imgOriginal: 'grid-gallery-4-1200x800-original',
						number: '4'
					}).thumbnail-sm.wow.slideInUp( data-wow-delay='.1s' )
				.col-sm-6.col-lg-4: .oh-desktop
					+thumbnail-joan({
						img: 'project-17-370x315',
						imgOriginal: 'project-6-1200x800-original',
						number: '5'
					}).thumbnail-sm.wow.slideInLeft( data-wow-delay='0s' )
				.col-sm-6.col-lg-4: .oh-desktop
					+thumbnail-joan({
						img: 'project-18-370x315',
						imgOriginal: 'fullwidth-masonry-gallery-10-1200x800-original',
						number: '6'
					}).thumbnail-sm.wow.slideInDown( data-wow-delay='.1s' )

			.row.row-30.align-items-center
				.col-lg-8
					.single-project
						h4 Weilround entertainment center
						p.text-gray-500 This project was designed for one of the biggest Swiss entertainment centers that grew in popularity in 2009. One of their new buildings needed top quality interior designed and our studio offered the services of Will O’Brien. Everything was completed in less than a month. Our studio combined some of the best architectural and interior design achievements in this project.

				.col-md-6.col-lg-4: .single-project-aside
					ul.list.list-description.d-inline-block.d-md-block
						li
							span Designer:
							span Will O’Brien
						li
							span Year:
							span May 17, 2009
						li
							span Location:
							span Bern, Switzerland
						li
							span Categories:
							span Custom Projects

					.divider.divider-30
					.group-md.group-middle.justify-content-sm-start
						span.social-title Share
						div: +widget-list([], '', 'list-inline-sm social-list' )


	// Project Links
	section.section.section-sm.section-last.bg-default
		.container
			.project-navigation
				.row.row-30
					.col-sm-6
						+project-minimal({
							href: 'single-project.html',
							unit: 'flex-column flex-lg-row text-lg-left',
							img: 'project-minimal-2-168x139',
							title: 'Bedroom serenity redefined',
							text: '2017, Commercial Project, USA'
						})
					.col-sm-6
						+project-minimal({
							href: 'single-project-3.html',
							unit: 'flex-column flex-lg-row-reverse text-lg-right',
							img: 'project-minimal-3-168x139',
							title: 'Bedroom furniture design',
							text: '2017, Commercial Project, USA'
						})

				a.project-navigation-arrow-prev( href='single-project.html' )
				a.project-navigation-arrow-next( href='single-project-3.html' )


	// Page Footer
	+footer-classic