extends  ../_skeleton

//- Includes
include ../components/_ui-quote

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Testimonials'

block page 
	// Page Header
	+header-classic

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		mod: 'bg-overlay-49',
		bgImage: 'bg-testimonials'
	})

	// Testimonials #1
	section.section.section-sm.section-first.bg-default
		.container
			h3 #1
			.row.row-50.row-sm
				.col-md-6
					+quote-modern({
						img: 'user-11-75x75',
						author: 'Catherine Williams',
						status: 'Local shop owner',
						text: 'I chose Creator because of their knowledge, experience and attention to detail that has proven invaluable to me in creating a superior finished project, which attracts more clients to my shop.'
					})
				.col-md-6
					+quote-modern({
						img: 'user-12-75x75',
						author: 'Rupert Wood',
						status: 'House owner',
						text: 'This agency was highly recommended to me. The sensitivity, knowledge, vision and ultimate execution this firm brought to the table was tremendous. Thank you for the amazing interior!'
					})


	// Testimonials #2
	section.section.section-sm.bg-default
		.container
			h3 #2
			.row.row-xxl.row-70.justify-content-center
				.col-sm-10.col-md-6.col-lg-5.col-xl-4
					+quote-creative({
						img: 'user-13-87x87',
						author: 'Rupert Wood',
						text: 'This agency was highly recommended to me. The sensitivity, knowledge, vision and ultimate execution this firm brought to the table was tremendous. They have enormously talented designers.'
					})

				.col-sm-10.col-md-6.col-lg-5.col-xl-4
					+quote-creative({
						img: 'user-14-87x87',
						author: 'Catherine Williams',
						text: 'I chose Creator because of their knowledge, experience and attention to detail that has proven invaluable to me in creating a superior finished project, which attracts more clients to my shop.'
					})

				.col-sm-10.col-md-6.col-lg-5.col-xl-4
					+quote-creative({
						img: 'user-15-87x87',
						author: 'Sam Peterson',
						text: 'Creator designed my home from top to bottom, and 5 years later I still appreciate their work. They designed built-in cabinetry that works perfectly. They are the most reliable designers I’ve ever met.'
					})


	// Testimonials #3
	section.section.section-sm.bg-default
		.container
			h3 #3
			.row.row-sm.row-30.justify-content-center
				.col-sm-9.col-md-6.col-lg-5.col-xl-4
					+quote-nancy({
						img: 'testimonials-1-368x503',
						quote: 'They have a very innovative vision',
						text: 'This agency was highly recommended to me. The sensitivity, knowledge, vision and ultimate execution this firm brought to the table was tremendous. They have enormously talented designers in the team who consistently deliver the highest quality as well as aesthetically beautiful solutions for their clients.',
						imgUser: 'user-13-87x87',
						author: 'Rupert Wood',
						status: 'House owner'
					})

				.col-sm-9.col-md-6.col-lg-5.col-xl-4
					+quote-nancy({
						img: 'testimonials-2-368x503',
						quote: 'These guys are very experienced',
						text: 'I chose Creator because of their knowledge, experience and attention to detail that has proven invaluable to me in creating a superior finished project, which attracts more clients to my shop. I can surely say that their team has a gift for truly interpreting a client’s ideas and transforming them into reality.',
						imgUser: 'user-14-87x87',
						author: 'Catherine Williams',
						status: 'Local shop owner'
					})

				.col-sm-9.col-md-6.col-lg-5.col-xl-4
					+quote-nancy({
						img: 'testimonials-3-368x503',
						quote: 'The greatest interior design experts',
						text: 'Creator designed my home from top to bottom, and 5 years later I still appreciate their work. They found the most beautiful rug for my living room and designed built-in cabinetry that works perfectly. When I bought a second home, I hired them again. I recommend their team without reservation.',
						imgUser: 'user-15-87x87',
						author: 'Sam Peterson',
						status: 'Sales manager'
					})


	// Testimonials #4
	section.section.section-sm.section-last.bg-default
		.container
			h3 #4
			include ../sections/_carousel-testimonials


	// Page Footer
	+footer-classic