footer.section.section-xl.footer-classic.context-dark
	.container
		a(href='./'): +png('logo-inverse-242x55')
		p.text-width-large Don’t wait. Get Creator right now and you can have a complete and beautifully designed website set up in no time.
		a.button.button-lg.button-primary.button-pipaluk(href='https://www.templatemonster.com/website-templates/creator-design-multipurpose-html5-website-template-70411.html', target='_blank') Purchase now
