-
	var
		html_class = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Poppins%7CTeko:300,400,500,600,700%7CMaven+Pro:500",
		subscribeFormCounter = 0,
		logo = {
			default: 'logo-default-190x43',
			inverse: 'logo-inverse-190x43',
			name: 'Tempaw Trunk'
		},
		links = {
			post: 'blog-post.html',
			getTemplate:'#get-template'
		},
		colors = {
			primary: '#b6c062'
		},
		menu = [
			{
				title: 'Interior Design',
				link: 'theme/interior-design.html'
			},
			{
				title: 'Decor',
				link: 'theme/decor.html'
			},
			{
				title: 'Feng Shui',
				link: 'theme/index.html'
			},
			{
				title: 'Landscaping',
				link: 'theme/landscaping.html'
			},
			{
				title: 'Flooring',
				link: 'theme/flooring.html'
			},
			{
				title: 'Furniture',
				link: 'theme/furniture.html'
			},
			{
				title: 'Windows & Doors',
				link: 'theme/windows-and-doors.html'
			}
		];
